
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div style="background-color: #fff0!important" class="modal-content">
            <div class="menu-item secondPageWidth flex-item-center-self">
                <h2 id="showPoint"> </h2>
                <a class="menu-item  " asp-action="GameStart" asp-controller="Game">  Tekrar Oyna </a>
                <a class="menu-item" asp-action="Index" asp-controller="Home">  Oyunu Bitir </a>

            </div>
        </div>
    </div>
</div>