
@model ( int Point , int State)
        <img src="logo1.jpeg"/>
        <a  asp-action="GameStart" asp-controller="Game" class="menu-item firstPageWidth ">OYUNA BAŞLA</a>

        <a href="#" onclick="" class="menu-item firstPageWidth">BİLGİLER</a>

<input type="hidden" value="@Model.Point" id="Point" />
<input type="hidden" value="@Model.State" id="State" />

 