<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quiz Show Yönetim Paneli</title>
   <link rel="stylesheet" href="~/Management/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="~/Management/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Management/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
      <link rel="stylesheet" href="~/Management/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    
         
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
         
      </li>

      
      
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
  
    <a href="index3.html" class="brand-link">
      <img src="~/Management/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
 
    <div class="sidebar">
      
      
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item">
                <a asp-action="List" asp-area="Management" asp-controller="Questions" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sorular</p>
                </a>
              </li>
              <li class="nav-item">
                <a  asp-action="List" asp-area="Management" asp-controller="Answers" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Cevaplar</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-action="List" asp-area="Management" asp-controller="Points" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Puan</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="pages/examples/legacy-user-menu.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Kullanıcı</p>
                </a>
              </li
                
        </ul>
      </nav>
    </div>
  </aside>
     <div class="content-wrapper">
        @RenderBody()

      </div>




  <aside class="control-sidebar control-sidebar-dark">
  
  </aside>

  <footer class="main-footer">
 
    </footer>
</div>
 
<script src="~/Management/plugins/jquery/jquery.min.js"></script> 
<script src="~/Management/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
